@import url('https://fonts.googleapis.com/css2?family=RobotoCondensed:ital,wght@0,400;1,700&display=swap');

body{
    background: url(../img/bg.png) -300px -100px / cover no-repeat fixed, linear-gradient(90deg, rgba(116,230,87,1) 0%, rgba(166,0,255,0.7903536414565826) 90%);
    font-family: "RobotoCondensed", sans-serif;
    font-size: 16px;
}

.wrapper{
    overflow: hidden;
    min-height: 100%;
}

.poligon{
    margin: 0 auto;
    max-width: 1080px;
}

.block-1{
    margin: 50px 0;
    min-height: 300px;
    border: 20px solid black;
    border-radius: 60px;
    background-image: url(../img/mem.jpg);
}

.block-2{
    margin: 0 0 50px 0;
    min-height: 300px;
    border: 20px solid black;
    border-radius: 60px;
    background: url(../img/mem.jpg) 10px 10px / 60px repeat;
}

.block-3{
    margin: 0 0 50px 0;
    min-height: 700px;
    border: 20px solid black;
    border-radius: 60px;
    background: url(../img/mem.jpg) 0 0 / auto repeat-x, url(../img/mem.jpg) 0 0 / auto repeat-y,
    url(../img/mem.jpg) right bottom / auto repeat-x, url(../img/mem.jpg) right bottom / auto repeat-y, greenyellow;
}

.text-block{
    text-align: center;
    padding: 290px 0;   
}

.link{
    border: 30px solid darkolivegreen;
    border-radius: 50px;
    font-size: 100px;
    padding: 0 10px;
    font-weight: 700;
    font-style: italic;
    background: radial-gradient(circle, rgba(116,230,87,1) 0%, rgba(0,14,255,0.7903536414565826) 38%);
    color: sandybrown;
    text-transform: uppercase;
    text-decoration: underline;
}

.block-4{
    margin: 0 0 50px 0;
    min-height: 300px;
    border: 20px solid black;
    border-radius: 60px;
    background: url(../img/mem.jpg) center center / 300px no-repeat;
}